body, html {
    background-image: url(assets/images/871025.png);
    /* background-size: cover; */
    background-position: center center;
    font-family: 'Crimson Pro', serif;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color:whitesmoke;
    opacity: 95%;
    padding: 20px;
    border-radius: 5px;
}

#start-container {
    font-family: 'Henny Penny', cursive;
}

#answerBtn1, #answerBtn2,
#answerBtn3, #answerBtn4 {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

#start-btn {
    padding: 20px;
}

#question {
    font-size: 30px;
}

.hide {
    display: none;
}

.show {
    display: visible;
}